body {
  padding: 30px;
  font-family: sans-serif;
}

.x-axis {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #aaaaaa;
}

.title {
  color: #00FFFF;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;

}

.trial {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #00FFFF;
}

.mean {
  font-size: 11px;
  font-weight: bold;
  color: #00FFFF;
}