body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    padding: 30px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

h1 {
    margin-top: 0;
    font-family: 'Castoro', serif;
    font-style: italic;
    font-size: 2rem;
    word-spacing: 0.15em;
    text-align: center;
}

.h-label {
    font-size: .7rem;
}

.y-axis {
    font-family: sans-serif;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #555555;
}

.month-axis {
    color: #555555;
}

/* Legend */
.legend {
    margin: 20px 0;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 0.25fr);
    color: #222222;
}

.legend-btn {
    display: inline-block;
    margin: 0 20px 0 0;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}

.legend-label:hover.legend-label.inactive:hover {
    opacity: 0.7;
}

.legend-label.inactive {
    opacity: 0.5;
}

.legend-symbol {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #777777;
    margin-right: 3px;
    display: inline-block;
}

.legend-btn[data-category="winter-storm-freeze"] .legend-symbol {
    background: #cccccc;
}

.legend-btn[data-category="flooding"] .legend-symbol {
    background: #41b6c4;
}

.legend-btn[data-category="severe-storm"] .legend-symbol {
    background: #c7e9b4;
}

.legend-btn[data-category="drought-wildfire"] .legend-symbol {
    background: #ffffd9;
}

.legend-btn[data-category="tropical-cyclone"] .legend-symbol {
    background: #081d58;
}

/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 100px;
    color: #333;
}

.tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.h-cell:hover {
    transition: stroke 200ms ease-in-out;
    stroke: #333;
}